<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021793021749-ts8da2037u3ck4ikbed482qvbdc79kk3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021793021749-ts8da2037u3ck4ikbed482qvbdc79kk3</string>
	<key>API_KEY</key>
	<string>AIzaSyCDBs0igyHSupSW3jduzz7vHqHyvuklyxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1021793021749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daltonteague.Circle-Chat</string>
	<key>PROJECT_ID</key>
	<string>circle-chat-3cee4</string>
	<key>STORAGE_BUCKET</key>
	<string>circle-chat-3cee4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021793021749:ios:1ce92d414ba42e14</string>
	<key>DATABASE_URL</key>
	<string>https://circle-chat-3cee4.firebaseio.com</string>
</dict>
</plist>